<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Analytics</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <h2 style="color:orange">Analytics</h2>
    <table class="table table-striped">
        <tr>
            <th>Gitlab Projects</th>
            <td th:text="${gitlabProjects}">number</td>
        </tr>
        <tr>
            <th>Mattermost Posts</th>
            <td th:text="${mattermostPosts}">number</td>
        </tr>
        <tr>
            <th>Sonar Projects</th>
            <td th:text="${sonarProjects}">number</td>
            <th>Sonar Issues</th>
            <td th:text="${sonarIssues}">number</td>
        </tr>
        <tr>
            <th>Rundeck Projects</th>
            <td th:text="${rundeckProjects}">number</td>
            <th>Rundeck Jobs</th>
            <td th:text="${rundeckJobs}">number</td>
        </tr>
        <tr>
            <th>Jenkins Jobs</th>
            <td th:text="${jenkinsJobs}">number</td>
        </tr>
        <tr>
            <th>Jira Projects</th>
            <td th:text="${jiraProjects}">number</td>
            <th>Jira Issues</th>
            <td th:text="${jiraIssues}">number</td>
        </tr>
        <tr>
            <th>Confluence Pages</th>
            <td th:text="${confluencePages}">number</td>
        </tr>
    </table>
</div>

</body>
</html>