<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Confluence</title>
</head>
<body>

<th:block th:include="index"></th:block>

<div class="container">
    <h2 style="color:orange">Confluence pages</h2>
    <table class="table table-striped">
        <th:block th:each="result: ${collection.results}">
            <tr>
                <th>Page Title</th>
                <td th:text="${result.title}">Page Title</td>
                <th>Page Link</th>
                <td><a th:href="${result.links.self}">Link</a></td>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>