<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Confluence</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <h2 style="color:orange">Confluence pages</h2>
    <table class="table table-striped">
        <th:block th:each="result: ${collection.results}">
            <tr>
                <th>Page Title</th>
                <td th:text="${result.title}">Page Title</td>
                <th>Page Link</th>
                <td><a th:href="${result.links.self}">Link</a></td>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>