<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Malima Collector</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/webjars/js-cookie/js.cookie.js"></script>
</head>
<body>
<h1 style="color:orange;font-size:300%">Malima Collector</h1>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" th:href="@{/project}">Project Information</a>
    <a class="navbar-brand" th:href="@{/MattermostUser}">Mattermost User</a>
    <a class="navbar-brand" th:href="@{/sonar}">Sonar</a>
    <a class="navbar-brand" th:href="@{/rundeck}">Rundeck</a>
    <a class="navbar-brand" th:href="@{/jenkins}">Jenkins</a>
    <a class="navbar-brand" th:href="@{/jira}">Jira</a>
    <a class="navbar-brand" th:href="@{/confluence}">Confluence</a>
</nav>
</body>
</html>