<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Malima Collector</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" th:href="@{/}">MalimaCollector</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/project}">Gitlab Information</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/MattermostUser}">Mattermost Information</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/sonar}">Sonar Information</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/rundeck}">Rundeck Information</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/jenkins}">Jenkins Information</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/jira}">Jira Information</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/confluence}">Confluence Information</a>
        </li>
    </ul>
</nav>
</body>
</html>
