<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Jenkins</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <h2 style="color:orange">Projects</h2>
    <table class="table table-striped">
        <th:block th:each="job: ${jobs}">
            <tr>
                <th>Project Name</th>
                <td th:text="${job.name}">Project Name</td>
                <th>Status</th>
                <td th:text="${job.color}">Status</td>
            </tr>
        </th:block>
    </table>
</div>

</body>
</html>