<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Jenkins</title>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <h2 style="color:orange">Projects</h2>
    <table class="table table-striped">
        <th:block th:each="job: ${jobs}">
            <tr>
                <th>Project Name</th>
                <td th:text="${job.name}">Project Name</td>
            </tr>
        </th:block>
    </table>
</div>

</body>
</html>