<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Collector Login</title>
    <link rel="stylesheet" th:href="@{/css/register-login.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Collector Login</h3>

                </div>
                <div class="panel-body">
                    <form role="form" method="post">

                        <div th:if="${param.error}">
                            <div class="alert alert-danger">
                                Invalid username or password.
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="email" required=true name="email" id="email" class="form-control input-sm"
                                   placeholder="Email Address">
                        </div>

                        <div class="form-group">

                            <div class="form-group">
                                <input type="password" name="password" id="password" class="form-control input-sm"
                                       placeholder="Password">
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Login" class="btn btn-info btn-block" id="login_button">
                                <div id="form_output"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>


</body>
</html>