<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Mattermost Content</title>
</head>
<body>

<th:block th:include="fragments/menu"></th:block>

<div class="container">
    <h2 style="color:orange">Mattermost User Information</h2>
    <table class="table table-striped">
        <tr>
            <th>Username</th>
            <td th:text="${user.username}">Username</td>
        </tr>
        <tr>
            <th>First Name</th>
            <td th:text="${user.firstName}">First Name</td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td th:text="${user.lastName}">Last Name</td>
        </tr>
    </table>
    <h2 style="color:orange">Mattermost Posts</h2>
    <table class="table table-striped">
        <th:block th:each="post : ${posts}">
            <tr>
                <th>Post Content</th>
                <td th:text="${post}">post</td>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>