<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Project Information</title>
</head>
<body>

<th:block th:include="fragments/menu"></th:block>

<div class="container">
    <h2 style="color:orange">Project Information</h2>
    <table class="table table-striped">
        <th:block th:each="project : ${projects}">
        <tr>
            <th><h3 style="color:orange">Project information for: </h3></th>
            <td th:text = "${project.name}">Project Name</td>
        </tr>
        <tr>
            <th>Owner</th>
            <td th:text = "${project.owner.name}">Project Owner</td>
        </tr>
        <tr>
            <th>URL</th>
            <td th:text = "${project.webURL}">URL</td>
        </tr>
    </th:block>
    </table>
</div>
</body>
</html>